
body {
	font-family:Tahoma, sens-serif;
	background-color: #000;
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;

}

h1{
	font-size: 45px;
	font-weight: 400;
}

h2 {
	font-size: 24px;
	background-color: #eaeaea;
	font-weight: 400;	
} 

h3, h4 {
	color: black;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}

h5 {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}

body > .container {
	padding: 60px 15px 0;
}
.container{
	margin:0 auto;
	padding:10px;
	max-width: 1650px;


}

header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white 
	max-width:1645px;
	height: 75px;
	background-image: url(../img/bg.png);

}
.jumbotron {
	background-image: url(../img/bg.jpg);
	background-attachment: fixed;
}
.logo {
	margin:10px;
}

.form-inline {
	padding-right: 20px;
}
footer {
	
	
	height: 60px;
	line-height: 60px;
	background-color: #ccc;
	display:flex; 
	justify-content: flex-end;
	height: 60px;
 

}

footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

.text-muted {
	color: #6c757d !important;
}

.veiw-img {
	width: 400px;
	height: 350px;
	-webkit-background-size: cover;
	background-size: cover;

}
.veiwimg {
	background-image: url(../img/66.png);
}

.btn-secondary {
	width: 100%;
	background-image: url(../img/66.png);
}
.row-h2 > h2{
	background-image: url(../img/66.png);
}

.navbar-mr {
	margin-left: 710px;
}
.jumbotron {
    padding: 7rem 2rem;
}

------------------------------------------------------------/* Стили меню
-= =- =- -= =- =- */


 --------------------------------------------------------- /* Здесь стили контента
 _+-+_+-+_+-=-+_=-_++_=__+ */

 #content {
 
 	
 }
section {
	background-image: url(../img/76.png);
	background-attachment: fixed;
}
 #content p {
 	color: #fff;
 	font-size: 14px;
 	font-style: italic;
 	line-height: 16px;
 }

 #content p:last-child {
 	font-size:16px ;
 	color: #484343;
 	line-height:24px ;
 	font-weight:400;
 	text-align: left;
 	font-style: normal;

 }

 p:first-letter{
 	color: #451726;
 	font-weight: bold;
 	font-size: 20px;

 }

 #content ul {
 	/* float: left; */
 	/* display: block; */
 	margin: 0;
 	margin-left: 30px;
 	padding: 0;
 	justify-content: space-between;

 }

 #content .chara li {
 	background-color:#eaeaea;
 	font-family: Palatino Linotype, sens-serif;
 	margin-bottom: 5px;
 	padding: 1px 5px; 
 	border: 1px solid black;
 	box-shadow: 3px 2px 3px 0px #451726;

 }

 .flexCont {
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	align-items: flex-start;
 }

 #content img {
 	/* float: right; */
 	
 	min-width: 300px;
 	border: 1px solid #000;
 	box-shadow: 2px 2px 3px 0px #000;

 }

 #content img:hover {
 	border:none;
 	box-shadow: none;

 }

 .catalogAlign {
 	background: #0032ff; /* Old Browsers */
 	background: linear-gradient(to left, #d1d0e6,#8f8cd3,#ffffff); 
 	text-align: center;
 	font-family: 'Rage','Tahoma', sens-serif;
 	margin-top: 110px;
 }

 .catalog {
 	padding: 20px;x
 	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	justify-content: flex-start;
 	-ms-align-items: flex-end;
 	align-items: flex-end;
 	background: #0032ff; /* Old Browsers */
 	background: linear-gradient(to left, #d1d0e6, #ffffff); 
 }

 .catalog .item {
 	margin-right: 30px;
 }
 .item {
 	width: 200px;
 }
 .catalog img {
 	border:2px solid #000;
 	width: 200px;
 	height: 200px;
 }

 .catalog img:hover {
 	border:none;
 	width: 200px;
 	
 }

 .catalog a {
 	text-decoration: none;
 	color: #000;
 	font-family: Palatino Linotype, sans-serif;
 }

 .catalog a:hover {
 	text-decoration: underline;
 	color:#b41d4e;
 }
---------------------------------------------------------------------------/* Здесь Таблица
_+-= -_+- _-+_ __+=_ */							
table {
	background-color: #6495ED;
	border: 2px solid #000;
	border-collapse: collapse;
	text-align: center;
	box-shadow: 

}



td {
	border: 1px solid #000;
	padding: 5px 28px;
	border-right: 2px solid #000;
	background-color:#eaeaea;
	font-family: Palatino Linotype, sens-serif;
	
}
td:hover {
	background-color: #e8dddd;

}

.home-page {
	background-color: white;
	height: 100%;

}
.row {
	display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-right: -15px;
margin-left: -15px;
}
p::first-letter {
    color: #72abff;
    font-weight: bold;
    font-size: 20px;
}
p {
    color: #fff;
}
-----------------------------------------------------/* Инпуты формы и всё что с ними связанно
=-=)8-=0-=-)_)((00)) */
input {
	width: 225px;
	height: 20px;
	border: 2px solid #000;
	border-radius: 10px;
	text-align: center;

}

input:focus {
	text-transform: capitalize;
}

#email-name:focus {
	background-color: rgb(235, 250, 253);
	color: rgb(48, 85, 93);
}

#show-name {
	margin-right: 45px;
}

#btn-i-btn {
	margin: 10px;
}

#btn-i-btn input {
	height: 40px;
	text-align: center;
	margin-right: 45px;
	border: 2px solid #000;
	border-radius: 14px;
	width: 150px;
}

fieldset {
	background-color: rgb(234, 222, 225);
	width: 100%;
	padding: 15px;
}

.container-form {

}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

a.btn-i {
	background-color: #6e3e48;;
	border: 1px solid #000;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	border-radius: 6px;
	color: white;
	width: 150px;
	height: 50px;
	margin: 0px auto;
	margin-bottom: 20px;
	font-size: 24px;
	font-family: Palatino Linotype, sens-serif;;
	text-align: center;
	line-height: 50px;
	padding: 4px 6px;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	z-index: 1;
}
a.btn-i:hover, a.btn-i:focus {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0 none;
}



