/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-fa-check copia {
  background-image: url(sprite.png);
  background-position: -53px -22px;
  width: 15px;
  height: 12px;
}
.icon-fa-chevron-down {
  background-image: url(sprite.png);
  background-position: -53px 0px;
  width: 34px;
  height: 22px;
}
.icon-fa-chevron-right {
  background-image: url(sprite.png);
  background-position: -68px -22px;
  width: 11px;
  height: 12px;
}
.icon-fa-shopping-cart {
  background-image: url(sprite.png);
  background-position: -29px -40px;
  width: 24px;
  height: 20px;
}
.icon-fa-twitter {
  background-image: url(sprite.png);
  background-position: 0px -40px;
  width: 29px;
  height: 24px;
}
.icon-logo {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 53px;
  height: 40px;
}
