@media only screen  and (max-width: 480px) {
	body {
		max-width: 480px;
		width: 100%;
	}
	.icon-logo {
		display: none;
	}
	.text-logo {
		font-size: 20px;
		margin-left: 20px;
		margin-top: -40px
	}
	#nav-head li:first-child {
		margin: 0px;
		margin-right: 5px;
	}
	#nav-head {
		max-width: 1400px;
		width: 100%;
	}
	nav ul {
		max-width: 300px;
		width:20%;
		margin-left: -5%;
		font-size: 10px;
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	nav ul li {
		margin-right: 12px;
	}
	.icon-icon-cart {
		margin-right: 1%;
	}
}